body{
    font-family: 'Roboto', sans-serif;
    min-width: max-content;
    text-align: center;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    border-radius: 12px;
}

body div{
    /*border: solid 1px red;*/
}

main{
    /*display: grid;
    grid-template-columns: 30% minmax(70%, 200px);
    grid-auto-rows: 95vh;*/
    border-radius: inherit;
    position: relative;
    height: 95vh;
    width: 100%;
    background-color: beige;
}

#chat{
    display: grid;
    grid-template-rows: 1fr auto ;
    height: 100%;
    padding-bottom: 12px;
}

button{
    height: 50px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

#seccion-chat{
    padding: 5px;
    display: grid;
    grid-auto-rows: max-content;
    gap: 12px;
    word-break: break-word;
    /*overflow-y: scroll;*/
    /*border: solid 1px red;*/
}

#posicion-envio{
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(auto, 50px);
    grid-auto-rows: 1fr;
    border-top: solid 2px black;
    padding: 12px;
    background-color: #607D8B;
    border-radius: 0 0 8px 8px;
}
/*
#posicion-envio > div{
    border: solid 1px red;
}
*/
#texto{
    resize: none;
    width: 100%;
    box-sizing: border-box;
    height: 80%;
}

#contactos{
    background-color: beige;
    border-right: solid 3px black;
}

.mensaje{
    border: solid 1px black;
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    background-color: #CFD8DC;
    padding: 5px;
}

.usuario{
    text-align: start;
    margin-bottom: 12px;
}


#login{
    position:sticky;
}


img{
    object-fit: contain;
    width: 100%;
    height: 100%;
}

#caja-texto{
    display: flex;
    align-items: center;
    /*padding-left: 12px;*/
    padding-right: 12px;
}
/*
#boton-envio{
    border: solid 1px black;
    border-radius: 8px;
}
*/

#wrapper{
    overflow: auto;
    display: flex;
    flex-direction: column-reverse;
}