body{
    font-family: 'Roboto', sans-serif;
    /*background-color: beige;*/
    max-width: max-content;
    text-align: center;
}

main{
    display: grid;
    grid-template-rows: repeat(3, auto) repeat(3, 40px) repeat(2, auto);
    gap: 30px;
}

#top{
    background-color: #9eb784;
    display: grid;
    grid-template-columns: 1fr 60% 1fr;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

#alertas,
#opciones{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: #696c6f;
    position:relative;
    cursor: pointer;
}

.aparatos{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    width: 100%;
    gap: 12px;
    justify-content: center;
}

.imagen{
    /*border: solid 2px green;*/
    object-fit: contain;
    width: 100%;
    height:100%;
    cursor: pointer;
}

.secciones-aparato{
    background-color: #cac9bb;
    display: grid;
    grid-template-rows: auto auto 1fr auto;
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

.negrita{
    font-weight: 900;
}

.grande{
    font-size: large;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.secciones-aparato > div:nth-child(2){
    font-size: x-large;
}

.fondo-sec{
    background-color: #9daa5a;
}

.redondeado{
    background-color:#aebba9;
}

.redondeado-rojo{
    background-color: #d0724e;
}

.redondeado,
.redondeado-rojo{
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);

    display: flex;
    align-items: center;
    justify-content: center;
}

.estado{
    display: grid;
    grid-template-columns: auto auto;
}

.rojo{
    color:red !important;
}

.verde{
    color: green;
}

#usuarios-conectados-container,
#historial{
    text-align: start;
}

#desplegable{
    width: 90vw;
    right: 0%;
    position: absolute;
    top: 100%;
    
    
    background-color: rgba(105, 108, 111);
    
    display: none;
    grid-template-rows: auto;
    gap: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    border-radius: 8px 0 8px 8px;
    padding: 5px;
    z-index: 10;
}

#desplegable-opciones{
    width: 20vw;
    left: 0%;
    position: absolute;
    top: 100%;
    
    
    background-color: rgba(105, 108, 111);
    
    display: none;
    grid-template-rows: auto;
    gap: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    border-radius: 0 8px 8px 8px;
    padding: 5px;
    z-index: 8;    
}

#desplegable > div,
#desplegable-opciones > div{
    color: black;
    background-color: beige;
    border-radius: 3px;
}

.apagado > div{
    background-color: grey !important;
}

#botones-extra{
    display: grid;
    grid-template-columns: 70% minmax(0, 1fr);
    gap: 12px;
}

#historial,
#usuarios-conectados-container{
    overflow: scroll;
}

#historial,
#usuarios-conectados-container{
    background-color: beige;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

#conexiones > div:first-child,
#historial-wrapper > div:first-child{
    background-color: #aebba9;
    border-radius: 8px 8px 0 0;
}


#conexiones,
#historial-wrapper{
    display: grid;
}

#conexiones{
    grid-template-rows: auto 150px;
}

#historial-wrapper{
    grid-template-rows: auto 300px;
}

.pad-horizontal{
    padding: 10px 0;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

#div-temperatura{
    border-radius: 8px;
}

.div-actuadores{
    display: grid;
    grid-template-rows: auto;
}

#actuadores-container{
    display: grid;
    grid-template-columns: auto auto;
    gap: 12px;
}